@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "black";
  default: true;
  --color-primary: rgb(29, 155, 240);
  --color-secondary: rgb(24, 24, 24);
}

@theme {
  --font-inter:  font-family: "Inter", sans-serif;
}
